*{
    margin: 0 auto;
    padding: 0 auto;
}

.navigation-bar> h1{
    color: #FFFF;
}
.navigation-bar> h1 span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1A0B2E;

}

.navigation-bar > ul{
    color: #FFFF;
    display: flex;
    gap: 32px;
}

.btn1{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: border-box;
     border-radius: 20px;
    display: flex;
    align-items: center;
    color: #FFFF;
}
.navigation-bar> .link a{
    color: #FFFF;
    text-decoration: none;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
/* .hero-bg> img{
    display: flex;
   gap: 20px; 
} */
.hero-bg{
    position: relative;
    width: 300px;
    max-width: 70vw;
    aspect-ratio: 1 / 1;
}
.cir{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mic{
    position: absolute;
    top: 25%;
    left: 32%;
    width: 100px;
    max-width: 100px;
    right: 50%;
}
.btn2{
width: 75px;
height: 38px;
border-radius: 1000px;
box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
background: rgba(0, 255, 136, 1);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 8px 16px 8px 16px;
}
.TechWave>h2{
color: rgba(255, 255, 255, 1); 
font-style: Extra Bold;
font-size: 60px;
line-height: 73px;
text-align: center;
}
.TechWave> p{
color: rgba(255, 255, 255, 1); 
font-size: 16px;
line-height: 19px;
text-align: center;
}
