

.inter-sans-serif {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0 auto;
    padding: 0 auto;
}

.navigation-bar> h1{
    color: #FFFF;
}
.navigation-bar> h1 span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1A0B2E;

}

.navigation-bar > ul{
    color: #FFFF;
    display: flex;
    gap: 32px;
}

.btn1{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: border-box;
     border-radius: 20px;
    display: flex;
    align-items: center;
    color: #FFFF;
}
.navigation-bar> .link a{
    color: #FFFF;
    text-decoration: none;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
/* .hero-bg> img{
    display: flex;
   gap: 20px; 
} */
.hero-bg{
    position: relative;
    width: 300px;
    max-width: 70vw;
    aspect-ratio: 1 / 1;
}
.cir{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mic{
    position: absolute;
    top: 25%;
    left: 32%;
    width: 100px;
    max-width: 100px;
    right: 50%;
}
.btn2{
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background: rgba(0, 255, 136, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 8px 16px 8px 16px;
}
.TechWave>h2{
    color: rgba(255, 255, 255, 1); 
    font-style: Extra Bold;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}
.TechWave> p{
    color: rgba(255, 255, 255, 1); 
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.hero-btn{
    display: flex;
    gap: 1px;    
}
.hero-btn> button{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.btn3{
    width: 201px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.btn4{
    width: 147px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 10000px;
    color: #00FF88;
}
.text{
    color: #FFFF;
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    background-color: #1A0B2E;
}
.card{
    display: flex;
    background-color: #1A0B2E;
    color: #00FF88;
}
.Techwave-container{
    background: rgba(35, 14, 61, 1);
    color: #FFFFFF;
    width: 1600px;
    height: 1121px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 300px);
    gap: 20px;
   
}
.audio{
    background: rgba(53, 17, 101, 0.4);
    color: #FFFFFF;
    gap: 16px;
    padding: 40px;
    grid-column: span 1;
    grid-row: span 2;
}
.device{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    color: #FFFFFF;
    gap: 16px;
    padding: 40px;
    grid-column: span 2;
    grid-row: span 1;
}
.global{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    color: #FFFFFF;
    gap: 16px;
    padding: 40px;
    grid-column: span 2;
    grid-row: span 1;
}
.exclusive{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    color: #FFFFFF;
    gap: 16px;
    padding: 40px;
    grid-column: span 2;
    grid-row: span 1;
}
.rich{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    color: #FFFFFF;
    gap: 16px;
    padding: 40px;
    grid-column: span 1;
    grid-row: span 2;
}
.featured-episodes{
    width: 1600px;
    height: 1276px;
    background-color: #1A0B2E;
    color: #FFFFFF;
    text-align: center;
}
.card-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.video-box{
    background-color: #250D44;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    grid-row: span 3;
    grid-column: span 1;
}
.card-content span{
    color: #00FF88;
}
.host{
width: 1200px;
height: 280px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 40px;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4)
}
.footer{
    width: 1600px;
    height: 412px;
    background-image: url(./assets/footer-bg.png);
}
.footer-logo> h1 span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-logo >h1 {
    color: #FFFFFF;
}
.footer{
width: 1360px;
height: 172px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;

}