

.navigation-bar> h1{
    color: #FFFF;
}
.navigation-bar> h1 span{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1A0B2E;

}

.navigation-bar > ul{
    color: #FFFF;
    display: flex;
    gap: 32px;
}

.btn1{
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 20px;
    display: flex;
}
.navigation-bar> .link a{
    color: #FFFF;
    text-decoration: none;
}
